@import "themes/macchiato.css";

* {
    font-family: "Hack Nerd Font", "Inter", sans-serif;
    font-size: 12px;
    font-weight: bold;
    min-height: 0;
}

window#waybar {
    background: transparent;
    color: @text;
}

/* Estilo Elegante Grisáceo Adaptable */
.modules-left>widget>*,
.modules-center>widget>*,
.modules-right>widget>* {
    background: rgba(36, 39, 58, 0.9);
    /* Gris oscuro con leve transparencia */
    border-radius: 12px;
    padding: 0 16px;
    /* Padding generoso para iconos */
    margin: 0px 4px;
    border: 1px solid rgba(202, 211, 245, 0.1);
    transition: all 0.3s ease;
}

.modules-left>widget>*:hover,
.modules-center>widget>*:hover,
.modules-right>widget>*:hover {
    background: rgba(54, 58, 79, 0.95);
}

/* Workspaces */
#workspaces button {
    color: @subtext0;
    padding: 0 6px;
    margin: 4px 2px;
    border-radius: 8px;
    transition: all 0.2s ease;
}

#workspaces button:hover {
    background: rgba(202, 211, 245, 0.589);
    color: @text;
}

#workspaces button.active {
    background: @blue;
    color: @base;
}

#workspaces button.urgent {
    background: @red;
    color: @base;
}

/* Estilización de Módulos */
#clock,
#pulseaudio,
#network,
#backlight,
#battery,
#cpu,
#memory,
#power-profiles-daemon {
    padding: 0 12px;
}

/* Colores */
#clock {
    color: @lavender;
}

#pulseaudio {
    color: @yellow;
}

#pulseaudio.muted {
    color: @red;
}

#network {
    color: @teal;
}

#network.disconnected {
    color: @red;
}

#backlight {
    color: @peach;
}

#battery {
    color: @green;
}

#battery.warning {
    color: @maroon;
}

#battery.critical:not(.charging) {
    color: @red;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#cpu {
    color: @blue;
}

#memory {
    color: @sky;
}

#power-profiles-daemon {
    color: @peach;
}

#power-profiles-daemon.performance {
    color: @red;
}

#power-profiles-daemon.balanced {
    color: @peach;
}

#power-profiles-daemon.power-saver {
    color: @green;
}

/* Tray */
#tray {
    padding: 0 10px;
}

@keyframes blink {
    to {
        background-color: @red;
        color: @base;
    }
}